<% if can? :manage, @words %>
  <div class="container">
    <h1><%= t "word.index" %></h1>
    <div class="container">
      <nav class="navbar navbar-default search">
        <%= search_form_for [:admin, @q],
          {class: "navbar-form", role: "form"} do |f| %>
          <%= f.select :category_id_eq,
            options_from_collection_for_select(@categories, "id", "name",
            @q.category_id_eq), {include_blank: t("searches.category")},
            {class: "form-control"} %>
          <%= f.label :title_cont, t("word.title"), class: "sr-only" %>
          <%= f.text_field :title_cont,placeholder: t("searches.title"),
            class: "search_form form-control" %>
          <%= f.submit t(:search), class: "btn btn-primary search_button" %>
        <% end %>
      </nav>
    </div>
    <%= link_to t(:create), "#", class: "btn btn-primary btn-md" %>
    <table class="table table-bordered">
      <tr>
        <th><%= sort_link @q, :title, t("word.title") %></th>
        <th><%= sort_link @q, :category_name, t("word.category") %></th>
        <th><%= sort_link @q, :created_at, t(:created_at) %></th>
        <th><%= t(:control) %></th>
      </tr>
      <tbody>
        <%= render "index" %>
      </tbody>
    </table>
  </div>
<% end %>
