<li class="list-group-item">
  <h5>
    <% if current_user == activity.owner %>
      <%= t "activities.you" %>
    <% else %>
      <%= link_to truncate(activity.owner.name, length: Settings.length_title),
        activity.owner %>
    <% end %>
    <%= activity_title activity %>
    <%= link_to_object activity %>
  </h5>
  <h5 class="description">
    <%= t "times.posted" %> <%= time_ago_in_words activity.created_at %>
    <%= t "times.ago" %>
  </h5>
</li>
