<header class="main-header">
  <div class="logo">
    <span class="logo-lg">
      <b><%= t "layouts.header.title" %></b>
    </span>
  </div>

  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag current_user.image.url, class: "user-image" %>
            <span class="hidden-xs"><%= current_user.name %></span>
            <ul class="dropdown-menu dn-dropdown-menu">
              <li><%= link_to t("layouts.header.log"), admin_logs_path %></li>
              <li>
                <%= link_to t("layouts.header.logout"),
                  destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
