<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="active">
        <%= link_to admin_root_path do %>
          <i class="glyphicon glyphicon-dashboard"></i>
          <span><%= t "admin.dashbord" %></span>
        <% end %>
      </li>

      <li>
        <%= link_to admin_users_path do %>
          <i class="glyphicon glyphicon-user"></i>
          <span><%= t "users.all" %></span>
        <% end %>
      </li>

      <li>
        <%= link_to admin_categories_path do %>
          <i class="glyphicon glyphicon-tasks"></i>
          <span><%= t "category.index" %></span>
        <% end %>
      </li>

      <li>
        <%= link_to admin_words_path do %>
          <i class="glyphicon glyphicon-list-alt"></i>
          <span><%= t "word.index" %></span>
        <% end %>
      </li>
    </ul>
  </section>
</aside>
