<% if can? :read, @users %>
  <div class="container content">
    <div class="col-md-10 col-md-offset-1">
      <h1><%= t "users.all" %></h1>
      <nav class="navbar navbar-default search">
        <%= search_form_for @q,
          {class: "navbar-form", role: "form"} do |f| %>
          <div align="center">
            <%= f.label :name_cont, t("users.name"), class: "control-label" %>
            <%= f.text_field :name_cont,placeholder: t("searches.title"),
              class: "search_form form-control" %>
            <%= f.submit t(:search), class: "btn btn-primary search_button" %>
          </div>
        <% end %>
      </nav>
      <table class="table table-bordered table-hover">
        <thead class="thead-default">
          <tr>
            <th><%= sort_link @q, :name, t("users.name") %></th>
            <th><%= sort_link @q, :email, t("users.email") %></th>
            <th><%= sort_link @q, :created_at, t("users.created_at") %></th>
          </tr>
        </thead>
        <tbody>
          <%= render "shared/user_index", users: @users %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
<% end %>
