<% if can? :read, @users %>
  <div class="container">
    <h1><%= t "users.all" %></h1>
    <nav class="navbar navbar-default search">
      <%= search_form_for @q,
        {class: "navbar-form", role: "form"} do |f| %>
        <%= f.label :name_cont, t("users.name") %>
        <%= f.text_field :name_cont,placeholder: t("searches.title"),
          class: "search_form form-control" %>
        <br>
        <%= f.label :email_cont, t("users.email") %>
        <%= f.text_field :email_cont,placeholder: t("searches.title"),
          class: "search_form form-control" %>
        <%= f.submit t(:search), class: "btn btn-primary search_button" %>
      <% end %>
    </nav>
    <table class="table table-bordered">
      <tr>
        <th><%= sort_link @q, :name, t("users.name") %></th>
        <th><%= sort_link @q, :email, t("users.email") %></th>
        <th><%= sort_link @q, :created_at, t("users.created_at") %></th>
      </tr>
      <tbody>
        <%= render "shared/user_index", users: @users %>
      </tbody>
    </table>
  </div>
<% end %>
