<% lessons.each do |lesson| %>
  <tr>
    <td><%= lesson.id %></td>
    <td><%= link_to lesson.category.name, lesson.category %></td>
    <td><%= lesson.created_at %></td>
    <td><%= lesson.status %></td>
    <td>
      <%= link_to t(:show), [lesson.category, lesson] %>
    </td>
  </tr>
<% end %>
<%= paginate lessons %>
