<fieldset>
  <%= form_for [:admin, @word], remote: true do |f| %>
    <%= render "shared/error_messages", object: @word %>
    <%= f.label :category %>
    <%= @category.nil? ? f.select(:category_id, @categories.collect {|category|
      [category.name, category.id]}) :
      f.text_field(:category_id, value: "#{@category.name}", disabled: true) %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <span class="image">
      <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
    </span>
    <div id="answers">
      <%= f.fields_for :answers do |builder| %>
        <%= render "answer_fields", f: builder %>
      <% end %>
    </div>
    <%= link_to_add_fields t("answer.new"), f, :answers %>
    <%= f.submit t :save %>
  <% end %>
</fieldset>
