<div class="clock_lesson">
  <p>
    <b><%= t :done %></b> :
    <b id="number_of_done"><%= @count %></b> /
    <b><%= @lesson.results.size %></b>
  </p>
  <b><%= t :remaining_times %></b>
  <span id="time_lesson"><%= @time_lesson %></span>
  <%= t :seconds %>
</div>
<ol>
  <%= form_for [@lesson.category, @lesson] do |f| %>
    <%= f.fields_for :results do |result| %>
      <%= render "result_fields", f: result %>
    <% end %>
    <%= f.hidden_field :status, value: "done" %>
    <br>
    <% if can? :update, @lesson %>
      <%= f.submit t(:finish), method: :update,
        data: {confirm: t(:confirm)}, class: "btn btn-primary" %>
    <% end %>
  <% end %>
</ol>
