<% if can? :read, @lesson %>
  <div class="dn-front-group">
    <h1><%= t("lesson.title") %> <%= @lesson.id %></h1>
    <div class="col-md-3">
      <%= image_tag current_user.image.url, class: "dn-lesson-img" %>
      <strong class="text-capitalize dn-text-lesson"><%= current_user.name %>
      </strong>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <p>
        <b><%= t "category.category" %></b> :
        <b><%= @lesson.category.name %></b>
      </p>
      <div id="lesson_<%= @lesson.id %>">
        <% if @lesson.done? %>
          <%= render "show_result" %>
        <% elsif @lesson.doing? %>
          <%= render "do_test" %>
        <% else %>
          <%= render "start_lesson" %>
        <% end %>
      </div>
    </div>
  </div>
  <%= hidden_field_tag "refreshed", "no" %>
<% end %>
