<div class="container">
  <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title"><h1><%= t "sessions.new.title" %></h1></div>
      </div>
      <div class="panel-body" >
        <%= form_for resource, as: resource_name,
          url: session_path(resource_name),
          html: {class: "form-horizontal", role: "form"} do |f| %>

          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-user"></i>
            </span>
            <%= f.email_field :email, class: "form-control",
            placeholder: t("sessions.new.email_field") %>
          </div>

          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-lock"></i>
            </span>
            <%= f.password_field :password, class: "form-control",
            placeholder: t("sessions.new.password_field") %>
          </div>

          <div class="input-group">
            <%= f.label :remember_me, class: "checkbox" do %>
              <%= f.check_box :remember_me %>
              <span><%= t "sessions.new.remember" %></span>
            <% end %>
          </div>

          <div class="form-group">
            <div class="col-sm-12 controls">
              <%= f.submit t("sessions.new.title"),
                class: "btn btn-lg btn-primary btn-block" %>
              <div class="social-buttons">
                <%= t "sessions.new.social" %>
                <% if devise_mapping.omniauthable? %>
                  <% resource_class.omniauth_providers.each do |provider| %>
                    <%= link_to omniauth_authorize_path(resource_name, provider),
                      class: "btn btn-#{provider}" do %>
                      <i class="fa fa-<%= provider %>"></i><%= t provider %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12 control">
              <div id="ink-signup" >
                <% if devise_mapping.registerable? && controller_name != "registrations" %>
                  <%= t "sessions.new.new_here" %>
                  <b>
                    <%= link_to t(:sign_up),
                      new_registration_path(resource_name) %>
                  </b>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
