<% if can? :read, @words %>
  <div class="container">
    <h1><%= t "word.index" %></h1>
    <nav class="navbar navbar-default search">
      <%= search_form_for @q, {class: "navbar-form", role: "form"} do |f| %>
        <%= f.select :category_id_eq,
          options_from_collection_for_select(@categories, "id", "name",
          @q.category_id_eq), {include_blank: t("searches.category")},
          {class: "form-control"} %>
        <% Settings["fillter_types"].each do |type| %>
        <ul class="input-group dn-front-word-filter">
          <%= radio_button_tag :type, type, params[:type] == type %>
          <%= label_tag type %>
        </ul>
      <% end %>
        <%= f.label :title_cont, t("word.title"), class: "sr-only" %>
        <%= f.text_field :title_cont,placeholder: t("searches.title"),
          class: "search_form form-control" %>
        <%= f.submit t(:search), class: "btn btn-primary search_button" %>
      <% end %>
    </nav>
    <table class="table table-bordered">
      <tr>
        <th><%= sort_link @q, :title, t("word.title") %></th>
        <th><%= sort_link @q, :category_name, t("word.category") %></th>
        <th><%= sort_link @q, :created_at, t(:created_at) %></th>
      </tr>
      <tbody>
        <%= render "shared/word_index", words: @words %>
      </tbody>
    </table>
  </div>
<% end %>
