<div class="container col-md-10 col-md-offset-1">
  <h1><%= t "category.category" %> : <%= @category.name %></h1>
  <div class="admin-action-category">
    <%= link_to t("word_new"), new_admin_word_path(category_id: @category.id),
      class: "btn btn-primary btn-md", remote: true %>
    <%= link_to t("category.delete"), [:admin, @category], method: :delete,
      data: {confirm: t(:confirm)}, class: "btn btn-primary btn-md" %>
  </div>
  <h2><%= t :all_word_of %><%= @category.name %></h2>
  <table class="table table-bordered">
    <thead>
      <th><%= sort_link @q, :title, t("word.title") %></th>
      <th><%= sort_link @q, :created_at, t(:created_at) %></th>
      <th><%= sort_link @q, :updated_at, t(:updated_at) %></th>
    </thead>
    <tr>
      <%= render "word_category_index", words: @words %>
    </tr>
  </table>
  <%= paginate @words %>
</div>
<div id="word-modal" class="modal fade"></div>
