<% if can? :read, @category %>
  <h1><%= @category.name %></h1>
  <div class="create_lesson">
    <% if can? :create, @lesson %>
      <%= form_for [@category, @lesson] do |f| %>
        <%= f.hidden_field :category_id, value: @category.id %>
        <%= f.submit t(:create_lesson), class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="table table-bordered">
        <thead>
          <th><%= sort_link @q, :title, t("word.title") %></th>
          <th><%= sort_link @q, :category_id, t(:category_id) %></th>
          <th><%= sort_link @q, :updated_at, t(:updated_at) %></th>
        </thead>
        <tr>
          <%= render "shared/word_index", words: @category.words %>
        </tr>
      </table>
      <%= paginate @words %>
    </div>
  </div>
<% end %>
