<% if can? :read, @category %>
  <h1><%= @category.name %></h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default text-center">
        <div class="panel-body">
          <%= render @category.words %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if can? :create, @lesson %>
  <td>
    <%= form_for [@category, @lesson] do |f| %>
      <%= f.hidden_field :category_id, value: @category.id %>
      <%= f.submit t(:create_lesson), class: "btn btn-primary" %>
    <% end %>
  </td>
<% end %>
