<header class="navbar navbar-fixed-top navbar-inverse header">
  <div class="container">
    <%= link_to t("layouts.header.title"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <% if current_user.is_admin? %>
            <li><%= link_to t("layouts.header.home"), admin_root_path %></li>
            <li><%= link_to t("layouts.header.categories"),
              admin_categories_path %></li>
            <li><%= link_to t("layouts.header.words"), admin_words_path %></li>
          <% else %>
            <li><%= link_to t("layouts.header.home"), root_path %></li>
            <li><%= link_to t("layouts.header.users"), users_path %></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t("layouts.header.account") %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.is_admin? %>
                <li><%= link_to t("layouts.header.log"), admin_logs_path %></li>
                <li>
                  <%= link_to t("layouts.header.users"), admin_users_path %>
                </li>
              <% end %>
              <li><%= link_to t("layouts.header.logout"),
                destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("layouts.header.login"), new_user_session_path
            %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
